.App {
  text-align: center;
  background: #fd746c;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #ff9068, #fd746c);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #ff9068, #fd746c); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.Header {
  background:rgba(255,255,255,0.2);
  border-bottom:1px solid white;
  height: 2.5rem;
  display:flex;
  align-items: center;
  padding: 0 12px;
  font-size:1.2rem;
  color:white;
  font-weight: bold;
}

.Logo {
  height:1.8rem;
  width:1.8rem;
  margin-right:10px;
  background: url(https://a.slack-edge.com/production-standard-emoji-assets/13.0/google-medium/1f44b.png); /*make img folder in src to use locally saved images */
  background-repeat: no-repeat;
  background-position: center;
  background-size:cover;
}

/* mobile */
html {
  font-size: 14px;
}
/* tablet */
@media only screen and (min-width: 480px) {
  html {
      font-size: 16px;
  }
}
/* desktop */
@media only screen and (min-width: 768px) {
  html {
      font-size: 18px;
  }
}
/* extra large */
@media only screen and (min-width: 1024px) {
  html {
      font-size: 20px;
  }
}